{% set siteTitle = 'siteTitle' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ app.request.basepath }}/themes/default/css/stylesheet.css" />
    {#<link href="{{ asset('css/main.css') }}" rel="stylesheet" />#}
    {% block head %}
        <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
    <meta name="robots" content="none" />
    <meta name="description" content="$setDescription" />
    <meta name="keywords" content="$setKeywords" />
    <meta name="copyright" content="phpCollab" />

    <script type='text/Javascript'>
        <!--
        var gBrowserOK = true;
        var gOSOK = true;
        var gCookiesOK = true;
        var gFlashOK = true;
        // -->
    </script>

    <script type='text/javascript' src='{{ app.request.basepath }}/javascript/general.js'></script>
    <script type='text/JavaScript' src='{{ app.request.basepath }}/javascript/overlib_mini.js'></script>

</head>


<body>
<header>
    <p id="header">{{ myStuff }}: {%  block header %}{% endblock %}</p>
</header>
<div id="content">
    {% block breadcrumbs %}{% endblock %}
    {% block content %}{% endblock %}
</div>
<div id="footer">
    {% block footer %}
        &copy; Copyright {{ "now"|date("Y") }} by <a href="http://phpcollab.com">phpCollab</a>.
    {% endblock %}
</div>
</body>
</html>
